### Here are some errors :

In [1]:
a,b,c=10

TypeError: cannot unpack non-iterable int object

Explaination : I got the above error because I was assining single value to three different variables.

In [3]:
name = input("Enter your name : ")
year_of_birth = input("Enter your year_of_birth : ")
curr_year = input("Enter current year : ")
age = curr_year - year_of_birth

print(f'''\nMy name is {name}
I am of age {age}''')

Enter your name : lokes
Enter your year_of_birth : 2002
Enter current year : 2022

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Explaination : I did not type casted string values to integer.

In [4]:
st = "20.3"
int(st)

ValueError: invalid literal for int() with base 10: '20.3'

Explaination : decimal numbers which are in string format cannot converted to integer.

### 2. Take input A and B and print their sum, mul, div, square of the nos.

In [7]:
a = int(input("Enter the value for A : "))
b = int(input("Enter the value for B : "))

print(f'''\nAddition : {a+b}
Multiplication : {a*b}
Division : {a/b}
square(a^b) : {a**b}
''')

Enter the value for A : 40
Enter the value for B : 5

Addition : 45
Multiplication : 200
Division : 8.0
square(a^b) : 102400000

### 3. How many reserve keywords are there in python and why we should not use them as a variable name.

There are 30 reserved keywords.<br>
If we use them as variable at the time of actual use they will raise unnecessary exception.

### 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [18]:
f_name = input("Enter your first name : ")
l_name = input("Enter your last name : ")

print(f'\nYour email id is : {l_name +"."+ f_name}@gmail.com')

Enter your first name : lokeswar
Enter your last name : gahir

Your email id is : gahir.lokeswar@gmail.com

### Question no. 5

In [19]:
print("Hi I'm Sunny")
print("My address is 22\\3")
print("I earn 20$ daily.")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

### Question no. 6

In [24]:
name = input("Enter name : ")
address = input("Enter address : ")
date_of_birth = input("Enter your date of birth : ")
print(f'''
Name - {name}
address - {address}
Date of birth - {date_of_birth}
Email - {name+date_of_birth[-2:]}@iNeuron.ai
''')

Enter name : lokeswar
Enter address : India
Enter your date of birth : 2002

Name - lokeswar
address - India
Date of birth - 2002
Email - lokeswar02@iNeuron.ai

### Question no. 7
- "22.4" into integer
- "22" into complex no.

In [28]:
st = "22.4"
f = float(st)
int(f)

22

In [29]:
st2 = "22"
complex(st2)

(22+0j)